@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}
.locationCard {
  position: relative;
  z-index: 99;
  transition: 0.3s ease-in;
}
.locationCard::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #f17732;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in;
  border-radius: 16px;
}
.locationCard.active::before {
  height: 100%;
}
.locationCard.active h2,
.locationCard.active p,
.locationCard.active .locationIcons {
  color: white;
}
.locationCard.active .cardInnerIconsLocation {
  background-color: #f17732;
  color: white;
}
.locationCard.active::before {
  height: 100%;
}

.locationCard:hover::before {
  height: 100%;
}
.locationCard:hover h2 {
  color: white;
  transition: 0.3s ease-in;
}
.locationCard:hover .cardInnerIconsLocation {
  color: white;
  background-color: #f17732;
  transition: 0.3s ease-in;
}
.locationCard:hover p {
  color: white;
  transition: 0.3s ease-in;
}
.locationCard:hover .locationIcons {
  color: white;
  transition: 0.3s ease-in;
}

.locationCard:hover .btn-location {
  background-color: white;
  transition: 0.3s ease-in;
}

.cardInnerIconsLocation {
  background-color: white;
  padding: 8px 8px;
  margin-left: 8px;
  border-radius: 5px;
}

/* ============================ Yearn20Experience ========================= */

.Yearn20Experience {
  position: relative;
}
.Yearn20Experience::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #565acf;
  top: 10px;
  left: 10px;
  border-radius: 50px 50px 0 50px;
}
